<!DOCTYPE html>
<html>

<head>
    <title>ChessRoast</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='dark_theme.css') }}">
    <link
    rel="stylesheet"
    href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css">
    
</head>

<body>

    <h1>ChessRoast 🔥</h1>

    <div class="layout">

        <div class="left-panel">

            <form method="POST">

                <textarea
                    name="pgn"
                    rows="15"
                    cols="70"
                    placeholder="Paste PGN here..."
                ></textarea>

                <br><br>

                <button type="submit">
                    Roast Me
                </button>

            </form>

            <div class="card">

                {% for item in analysis %}

                    <div class="move-entry">

                        <h3>{{ item.move }}</h3>

                        <p>Evaluation: {{ item.eval }}</p>

                    </div>

                {% endfor %}

            </div>

        </div>

        <div class="middle-panel">

            <div class="board-wrapper">
                <div class="eval-container">
                    <div id="eval-black-text">0.0</div>
                    <div id="eval-white">
                        <div id="eval-white-text">0.0</div>
                    </div>
                </div>
                <div id="board" style="width: 700px"></div>
            </div>

            <div class="button-container">
                <button type = "button" class = "button-chessboard" id="back-btn">
                    <img src = "{{ url_for('static', filename='images/left-arrow-cropped.jpg') }}">
                </button>
                <button type = "button" class = "button-chessboard" id="play-btn">
                    <img src = "{{ url_for('static', filename='images/play-button.png') }}">
                </button>
                <button type = "button" class = "button-chessboard" id="next-btn">
                    <img src = "{{ url_for('static', filename='images/right-arrow-cropped.jpg') }}">
                </button>
            </div>
            

        </div>

        <div class = "right-panel">
            <div class="engine-line-card">

                <div id="engline-line-container">
                    <div id="engine-lines">...</div>
                </div>
                    
            </div>

                <div class="opening-container" id="opening-name">
                </div>

            <div class="move-table" id="move-table"></div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"></script>

    <script src="{{ url_for('static', filename='js/evalbar.js') }}"></script>

    <script src="{{ url_for('static', filename='js/movetable.js') }}"></script>

    <script src="{{ url_for('static', filename='js/controls.js') }}"></script>

    <script src="{{ url_for('static', filename='js/board.js') }}"></script>

    <script>   

        var moves = {{ moves | tojson }};
        var evals = {{ evals | tojson }};
        var allLines = {{ all_lines | tojson }};
        var game = new Chess();
        var currentMove = 0;
        var sanMoves = {{ san_moves | tojson }};
        var autoplay = null;
        var moveData = {{ move_data | tojson }};
        var openingName = {{ opening_name | tojson }};

        var board = Chessboard('board', {
            draggable: true,
            position: 'start',
            pieceTheme: 'https://chessboardjs.com/img/chesspieces/wikipedia/{piece}.png',
            onDrop: onDrop
        });

        window.onload = function () {

            renderMoveTable();

            updateBoard();
        };

    </script>
</body>

</html>